.container {
    width: 30vh;
    height: 70vh;
    border: 2px solid grey;
    margin: auto;
    position: relative;
    top: 100px;
    display: grid;
}
.col>.form-group>button{
    display: flex;
    width: 25%;
  
  
}