.container {
    width: 30vh;
    height: 70vh;
    margin: auto;
    position: relative;
    top: 100px;
   
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 4fr); /* 4 equal columns */
  gap: 10px; /* space between buttons */
}



